# These are software packages necessary to run the WebGnomeAPI web server.
# The format of this file should be compatible with either conda or pip,
# so these packages can be installed with the commands:
#
#     $ conda install --file conda_requirements.txt
#       -- or --
#     $ pip install -r conda_requirements.txt
#
# However, we are mostly testing useing conda (and the conda-forge repo), so
# all bets are off with pip.

# In addition to this list of packages, there is a file separate from
# conda_requirements.txt called pip_requirements.txt.  This file contains
# a list of packages that are not found in any of the main conda channel
# repositories, so they are pip installable only.
#
# So after the previous step, one would normally do the following:
#
#     $ pip install --no-deps -r requirements.txt

# numpy is not strictly needed by the API, but is by gnome, etc,
# and adding it helps keep conda from trying to up- or down-grade it.
#numpy>=1.15


pyramid>=1.9
repoze.lru  # required by Pyramid, but not brought in for some reason :-(
paste
pastedeploy>=2.0
cornice>=3.4
ujson
docutils
pytest
webtest>=2.0
htmlmin
jsmin

pycparser
gevent
gevent-websocket


