# These are extra software packages necessary in order to run the WebGnomeApi
# web server.
#
# The main reason these are separate from conda_requirements.txt is that they
# are not found in any of the main conda channel repositories, so they are
# pip installable only.
#
# To prepare the WebGnomeAPI environment, one would normally do the following:
#
#     $ conda install --file conda_requirements.txt
#     $ pip install -r pip_requirements.txt

pygtail
pyramid_log
redis
pyramid-redis-sessions


# erd's build of gevent-socketio
https://github.com/NOAA-ORR-ERD/gevent-socketio/archive/v0.3.7.tar.gz

